body {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    background-color: #5d97ee;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Xếp các phần tử con theo chiều dọc */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 13pt;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 94%;
    font-size: 13pt;
}

button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 13pt;
    font-weight: bold;
    background-color: #94d37c;
}

img {
    max-width: 100%;
    margin-top: 15px;
}

/* Modal Styles */
.modal {
    display: none;
    /* Ẩn modal mặc định */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.highlight-red {
    color: red;
}

.highlight-blue {
    color: #0000ff;
}

/* ===== CSS CHO FOOTER ===== */
footer {
    text-align: center;
    /* Căn giữa nội dung */
    padding: 20px;
    /* Thêm khoảng đệm */
    margin-top: 40px;
    /* Tạo khoảng cách với nội dung bên trên */
    border-top: 1px solid #e0e0e0;
    /* Đường kẻ mỏng phân cách */
    color: #353333;
    /* Màu chữ hơi xám */
    font-size: 0.8em;
    /* Chữ nhỏ hơn một chút */
    /* ===== THÊM DÒNG NÀY ĐỂ ĐẨY FOOTER XUỐNG ===== */
    clear: both;
}

footer p {
    margin: 5px 0;
    /* Giảm khoảng cách giữa 2 dòng trong footer */
}